@media (min-width: 576px) {
  :root {
    --size-divisor: 2;
  }
}
@media (min-width: 768px) {
  :root {
    --size-divisor: 1.5;
  }
}
@media (min-width: 992px) { 
  :root {
    --size-divisor: 1;
  }
}
@media (min-width: 1200px) { 
  :root {
    --size-divisor: .67;
  }
}

body {
  background-image: url("https://i.imgur.com/T6ZRkJ1.png");
}

border {
  border-color: rgb(231, 215, 69);
}

h1 {
  text-align: center;
  font-size: 55px;
  font-family: 'Product Sans', sans-serif;
  color: rgb(57, 55, 55);
  flex-shrink: 1;
}

h3 {
  text-align: center;
  font-size: 18px;
  font-family: 'Product Sans', sans-serif;
  color: rgb(57, 55, 55);
  flex-shrink: 1;
}

button {
  color: white;
  flex-shrink: 1;
  border-color: rgb(246,134,42);
}

input[type="text"] {
  width: 90%;
  color: aliceblue;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid rgb(254, 252, 252);
  border-radius: 4px;
  box-sizing: border-box;
}